@import url("https://fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,500,500i,700,700i,900,900i");
.text-orange {
  color: #f4a900; }

.bg-orange {
  background: #f4a900; }

.text-blue {
  color: #78B6E4; }

.bg-blue {
  background: #78B6E4; }

.bg-d-blue {
  background: #4d7491; }

.text-green {
  color: #20B5AC; }

.bg-green {
  background: #20B5AC; }

.h-800 {
  height: 800px; }

html, body {
  height: 100%; }

.main-wrapper {
  min-height: 100%; }

.table-wrapper {
  width: 65%;
  margin: 0 auto;
  background: #f5f5f5; }
  .table-wrapper .cell {
    width: 18.6%;
    padding: 3px;
    text-align: center;
    color: #003c00;
    font-weight: 500;
    border: 1px solid #5d5d5b; }
    .table-wrapper .cell:hover {
      opacity: 0.8; }
  .table-wrapper .cell:first-child {
    width: 7%; }

@media screen and (max-width: 1700px) {
  .table-wrapper {
    width: 80%; } }

@media screen and (max-width: 1400px) {
  .table-wrapper {
    width: 90%; } }

@media screen and (max-width: 1150px) {
  .main-header {
    font-size: 1.7rem; }
  .table-wrapper {
    width: 100%;
    min-width: 400px; }
    .table-wrapper .cell p {
      font-size: 0.7rem; } }

#modalPay {
  display: none;
  background-color: rgba(61, 61, 61, 0.9); }

.modal-heading {
  margin: 5px 190px; }

.pay-wrapper {
  margin: 30px auto;
  background: #78B6E4;
  width: 700px;
  height: 700px;
  padding: 10px;
  font-weight: 500;
  font-size: 1rem; }
  .pay-wrapper legend {
    background: #fffefd;
    margin-bottom: 22px;
    font-size: 24px;
    line-height: inherit;
    color: #4b5879;
    border-bottom: 1px solid #e5e5e5; }
    .pay-wrapper legend .pull-right {
      float: right;
      padding: 5px 8px; }

.form-group {
  margin-bottom: 20px; }
  .form-group label {
    font-size: 14px;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #000;
    padding-left: 15px; }
  .form-group .input-group {
    position: relative; }
    .form-group .input-group .form-control {
      padding: 6px 12px;
      background-color: #fff;
      border: 1px solid #aabec7;
      border-radius: 26px;
      color: #000;
      font-size: 18px;
      height: 45px; }
    .form-group .input-group .form-control:first-child {
      border-bottom-right-radius: 0;
      border-top-right-radius: 0; }
    .form-group .input-group .input-group-addon {
      padding: 6px 12px;
      font-size: 16px;
      font-weight: 400;
      line-height: 1;
      color: #242a3a;
      text-align: center;
      background-color: #fff;
      border: 1px solid #aabec7;
      border-bottom-right-radius: 26px;
      border-top-right-radius: 26px; }

.custom-select {
  width: 50%;
  padding: 7px 15px;
  font-size: 18px;
  line-height: 18px;
  text-align: left;
  color: #242a3a;
  cursor: pointer;
  border-radius: 26px; }

.border-r-26 {
  border-radius: 26px; }

html, body {
  font-family: 'Roboto', sans-serif; }

.header {
  background-image: linear-gradient(to bottom, #b6e3fd, #ffffff);
  margin-bottom: 50px; }

.heading {
  text-shadow: 2px 2px 2px #67656b, 3px 3px 2px #272030; }

.logo-img {
  margin: 20px auto;
  width: 150px;
  height: 150px; }

.header-heading {
  margin-top: 20px;
  font-size: 7rem; }

.main-description-wrapper p {
  text-shadow: 0 0 3px #bfedfd; }

.main-description-wrapper .main-heading {
  margin: 0 0 20px;
  color: #4d7491;
  font-size: 2.2rem;
  text-shadow: 1px 1px 0 #4d7491; }

.counter-wrapper {
  width: 450px; }
  .counter-wrapper .counter {
    background-image: linear-gradient(to top, #78B6E4, #ffffff);
    box-shadow: 1px -1px 5px 0 #aaaaaa;
    border-radius: 10px; }
    .counter-wrapper .counter .text-counter {
      font-size: 3.5rem;
      color: #f2f2f2;
      padding: 20px 0;
      text-shadow: 1px 1px 7px #1d89f3; }
  .counter-wrapper .btn-charity {
    padding: 20px 40px;
    margin: 20px auto 50px;
    border: none;
    background: #4169E1;
    box-shadow: inset 0 0 40px 0 #151345;
    text-shadow: 2px 2px 0 #2d2d2d;
    letter-spacing: 0.3rem; }
    .counter-wrapper .btn-charity:hover {
      background: #3334db; }

.link-last-charity {
  width: 100%;
  padding: 20px 0;
  color: #2f30cc;
  letter-spacing: 0.2rem;
  font-weight: 500;
  background-image: linear-gradient(#ececec, #ffffff, #f5f5f5); }
  .link-last-charity:hover {
    text-decoration: none;
    color: #514cff; }

.carousel-wrapper {
  width: 1100px;
  margin: 50px auto; }
  .carousel-wrapper .carousel-inner {
    border: 20px solid #f4a900;
    border-radius: 3px;
    height: 550px; }

.description-project-wrapper {
  background-image: linear-gradient(lightblue, #e5eaff); }

.project-promotion-list {
  width: 80%;
  margin: auto;
  list-style: none;
  padding: 0; }
  .project-promotion-list li {
    padding: 7px 20px;
    margin-bottom: 10px;
    border-radius: 5px;
    border-left: 15px solid #f05d22;
    box-shadow: 2px -2px 5px 0 rgba(0, 0, 0, 0.1), -2px -2px 5px 0 rgba(0, 0, 0, 0.1), 2px 2px 5px 0 rgba(0, 0, 0, 0.1), -2px 2px 5px 0 rgba(0, 0, 0, 0.1);
    font-size: 1.2rem;
    text-align: left;
    letter-spacing: 2px; }
  .project-promotion-list li:nth-child(1) {
    border-color: #78B6E4; }
  .project-promotion-list li:nth-child(2) {
    border-color: #f4a900; }
  .project-promotion-list li:nth-child(3) {
    border-color: #20B5AC; }
  .project-promotion-list li:nth-child(4) {
    border-color: #78B6E4; }
  .project-promotion-list li:nth-child(5) {
    border-color: #f4a900; }
  .project-promotion-list li:nth-child(6) {
    border-color: #20B5AC; }
  .project-promotion-list li:nth-child(1):hover {
    border-right: 7px solid #78B6E4; }
  .project-promotion-list li:nth-child(2):hover {
    border-right: 7px solid #f4a900; }
  .project-promotion-list li:nth-child(3):hover {
    border-right: 7px solid #20B5AC; }
  .project-promotion-list li:nth-child(4):hover {
    border-right: 7px solid #78B6E4; }
  .project-promotion-list li:nth-child(5):hover {
    border-right: 7px solid #f4a900; }
  .project-promotion-list li:nth-child(6):hover {
    border-right: 7px solid #20B5AC; }

.circle-img {
  width: 230px;
  height: 230px;
  border-radius: 50%;
  background: url("../img/testimonials-1.jpg") no-repeat center;
  background-size: contain;
  box-shadow: 0 0 80px 0 #9a9a97; }

.footer-wrapper {
  padding: 70px 0 20px 0;
  background: linear-gradient(to top, #b6e3fd, #ffffff);
  align-items: flex-start;
  justify-content: space-around; }

.logo-footer-img {
  width: 50px;
  height: 50px; }

.footer-items {
  font-size: 2rem; }

@media screen and (max-width: 1290px) {
  .header-heading {
    font-size: 6rem; }
  .main-description-wrapper {
    margin: 0 auto 50px;
    width: 50%; }
  .project-promotion-list li {
    font-size: 0.9rem; } }

@media screen and (max-width: 1200px) {
  .header-heading {
    font-size: 5rem; }
  .main-heading-wrapper {
    width: 60%; } }

@media screen and (max-width: 1111px) {
  .logo-img {
    margin: 10px auto;
    width: 100px;
    height: 100px; }
  .carousel-wrapper {
    width: 700px; }
    .carousel-wrapper .carousel .carousel-inner {
      height: 400px; } }

@media screen and (max-width: 935px) {
  .header-heading {
    font-size: 3rem; }
  .main-heading {
    font-size: 1.4rem; } }

@media screen and (max-width: 735px) {
  .carousel-wrapper {
    width: 400px; }
    .carousel-wrapper .carousel .carousel-inner {
      height: 220px;
      border: 10px solid #f4a900; } }

@media screen and (max-width: 570px) {
  .main-description-wrapper {
    margin: 0 auto 50px;
    width: 95%; }
    .main-description-wrapper .main-heading {
      font-size: 1.5rem; }
  .footer-wrapper {
    flex-direction: column; }
    .footer-wrapper .nav-copyright-wrapper {
      margin: 0 auto; }
      .footer-wrapper .nav-copyright-wrapper .footer-header {
        font-size: 1.5rem; }
    .footer-wrapper .social-networks-icons {
      margin: 10px auto; } }

@media screen and (max-width: 490px) {
  .counter-wrapper {
    width: 250px; }
    .counter-wrapper .counter .text-counter {
      font-size: 2rem; }
    .counter-wrapper .btn-charity {
      padding: 10px 10px; }
  .carousel-wrapper {
    width: 260px; }
    .carousel-wrapper .carousel .carousel-inner {
      height: 150px; } }

@media screen and (max-width: 400px) {
  .header-heading {
    font-size: 2.2rem; }
  .main-heading-wrapper {
    width: 100%; } }
